/node_modules
/public/hot
/public/storage
/public/images/signature
/public/images/attachment/
/public/import/fingerprint/*.xlsx
/public/import/fingerprint/*.xls
/public/backend/assets/img/employees/id_card
/public/backend/assets/img/employees/signature
/public/backend/assets/attachment/salaries
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
